In [2]:
import pandas as pd

In [3]:
url = '/Users/dansandler/Desktop/IronHack/Bootcamp/projects/df_final_web_data_pt_1.txt'
df_final_web_data_pt_1 = pd.read_csv(url)
df_final_web_data_pt_1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [4]:
url = '/Users/dansandler/Desktop/IronHack/Bootcamp/projects/df_final_web_data_pt_2.txt'
df_final_web_data_pt_2 = pd.read_csv(url)
df_final_web_data_pt_2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

# concat df_final_web_data_pt_1 with df_final_web_data_pt_2

In [5]:
df_final_web_data = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], axis=0)

In [6]:
df_final_web_data.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [7]:
df_final_web_data.shape

(755405, 5)

In [8]:
duplicate_rows = df_final_web_data[df_final_web_data.duplicated()]
duplicate_rows

,client_id,visitor_id,visit_id,process_step,date_time
365,9358626,148475529_63668223960,223297395_36250329195_832161,start,2017-04-28 12:27:28
368,5376894,622509328_44408201172,688984457_43441834354_912755,start,2017-04-28 14:20:01
383,438567,923318467_50708963627,330543236_29863358529_771432,start,2017-04-28 02:52:29
785,1423857,716830992_81930238382,568819166_80596727019_75889,confirm,2017-04-10 22:44:58
1816,372523,730241475_25771921122,25331354_74479847014_854987,start,2017-04-27 10:51:26
...,...,...,...,...,...
412120,1672289,658797407_91003097342,430110748_90347503221_597628,start,2017-05-01 19:28:53
412163,4408245,14058946_73585431797,994148957_84373994761_991865,start,2017-06-06 09:17:23
412165,4408245,14058946_73585431797,994148957_84373994761_991865,start,2017-06-06 09:09:44
412167,4408245,14058946_73585431797,994148957_84373994761_991865,start,2017-06-06 08:51:16
412217,3897324,80177429_24869309091,149796456_64325617570_112561,start,2017-05-04 08:21:30

In [9]:
df_final_web_data.drop_duplicates(inplace=True)

In [10]:
df_final_web_data.shape

(744641, 5)

In [11]:
df_final_web_data.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [12]:
df_final_web_data['date_time'] = pd.to_datetime(df_final_web_data['date_time'])

In [13]:
df_final_web_data.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

## Merging final web data with final_experiment_clients

In [14]:
url_2 = '/Users/dansandler/Desktop/IronHack/Bootcamp/projects/df_final_experiment_clients.txt'
df_final_experiment_clients = pd.read_csv(url_2)

In [15]:
df_merged = pd.merge(df_final_web_data, df_final_experiment_clients, on='client_id', how='inner')
df_merged

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
443892,9895983,473024645_56027518531,498981662_93503779869_272484,step_3,2017-06-15 19:52:09,NaN
443893,9895983,473024645_56027518531,498981662_93503779869_272484,step_2,2017-06-15 19:50:37,NaN
443894,9895983,473024645_56027518531,498981662_93503779869_272484,step_1,2017-06-15 19:50:05,NaN
443895,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:50:00,NaN
443896,9895983,473024645_56027518531,498981662_93503779869_272484,start,2017-06-15 19:44:05,NaN

In [16]:
df_merged.isnull().sum()

client_id            0
visitor_id           0
visit_id             0
process_step         0
date_time            0
Variation       126662
dtype: int64

In [17]:
df_merged.dropna(inplace=True)

In [18]:
df_merged.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
Variation       0
dtype: int64

In [19]:
df_merged.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
Variation               object
dtype: object

In [20]:
df_merged.Variation.unique()

array(['Test', 'Control'], dtype=object)

## Divide dataframe to 'Test' and 'Control'

In [21]:
df_test = df_merged[df_merged['Variation'] == 'Test']
df_control = df_merged[df_merged['Variation'] == 'Control']

## Completion Rate: The proportion of users who reach the final â€˜confirmâ€™ step.

In [22]:
df_grouped_test = df_test.groupby(['client_id', 'visitor_id', 'visit_id'])['process_step'].apply(lambda x: 'confirm' in x.values)

proportion_confirm_test = round(df_grouped_test.mean(),3)

proportion_confirm_test

0.586

In [23]:
df_grouped_control = df_control.groupby(['client_id', 'visitor_id', 'visit_id'])['process_step'].apply(lambda x: 'confirm' in x.values)

proportion_confirm_control = round(df_grouped_control.mean(),3)

proportion_confirm_control

0.499

## Time Spent on Each Step: The average duration users spend on each step.

### Test

In [24]:
# Sort by client_id, visitor_id, visit_id, and date_time
df_test = df_test.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])

In [25]:
# Calculate the time spent between steps
df_test['next_date_time'] = df_test.groupby(['client_id', 'visitor_id', 'visit_id'])['date_time'].shift(-1)
df_test['time_spent'] = (df_test['next_date_time'] - df_test['date_time']).dt.total_seconds()

In [26]:
# Remove rows where time_spent is NaN (last step in each session)
df_time_spent = df_test.dropna(subset=['time_spent'])

In [27]:
# Calculate the average time spent on each process_step
avg_time_per_step = df_time_spent.groupby('process_step')['time_spent'].mean().round(2)

In [28]:
avg_time_per_step

process_step
confirm    243.69
start       61.47
step_1      60.68
step_2      88.85
step_3     129.64
Name: time_spent, dtype: float64

### Control

In [29]:
# Sort by client_id, visitor_id, visit_id, and date_time
df_control = df_control.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])

In [30]:
# Calculate the time spent between steps
df_control['next_date_time'] = df_control.groupby(['client_id', 'visitor_id', 'visit_id'])['date_time'].shift(-1)
df_control['time_spent'] = (df_control['next_date_time'] - df_control['date_time']).dt.total_seconds()

In [31]:
# Remove rows where time_spent is NaN (last step in each session)
df_time_spent = df_control.dropna(subset=['time_spent'])

In [32]:
# Calculate the average time spent on each process_step
avg_time_per_step = df_time_spent.groupby('process_step')['time_spent'].mean().round(2)

In [33]:
avg_time_per_step

process_step
confirm    168.73
start       66.83
step_1      50.47
step_2      92.00
step_3     137.14
Name: time_spent, dtype: float64

## Error Rates: If thereâ€™s a step where users go back to a previous step, it may indicate confusion or an error. You should consider moving from a later step to an earlier one as an error.

### Test

In [34]:
df_test_sort = df_test.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])

In [35]:
step_order = {'start': 0, 'step_1': 1, 'step_2': 2, 'step_3': 3, 'confirm': 4}

In [36]:
df_test_sort['step_order'] = df_test_sort['process_step'].map(step_order)

In [37]:
df_test_sort['error'] = df_test_sort.groupby(['client_id', 'visitor_id', 'visit_id'])['step_order'].diff().apply(lambda x: x < 0)

In [38]:
error_rate = df_test_sort[df_test_sort['error']].groupby('process_step').size() / df_test_sort.groupby('process_step').size()

In [39]:
print("Error rate for each step:")
print(error_rate)

Error rate for each step:
process_step
confirm         NaN
start      0.188514
step_1     0.088269
step_2     0.073886
step_3     0.000854
dtype: float64

### Control

In [40]:
df_control_sort = df_control.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])

In [41]:
step_order = {'start': 0, 'step_1': 1, 'step_2': 2, 'step_3': 3, 'confirm': 4}

In [42]:
df_control_sort['step_order'] = df_control_sort['process_step'].map(step_order)

In [43]:
df_control_sort['error'] = df_control_sort.groupby(['client_id', 'visitor_id', 'visit_id'])['step_order'].diff().apply(lambda x: x < 0)

In [44]:
error_rate = df_control_sort[df_control_sort['error']].groupby('process_step').size() / df_control_sort.groupby('process_step').size()

In [45]:
print("Error rate for each step:")
print(error_rate)

Error rate for each step:
process_step
confirm         NaN
start      0.106060
step_1     0.077952
step_2     0.091724
step_3     0.004488
dtype: float64

# Hypothesis Testing

### Completion Rate

In [46]:
## H0: There is no difference in the completion rate between the Test and Control groups.

## H1: There is a difference in the completion rate between the Test and Control groups.

In [47]:
import pandas as pd
from scipy.stats import chi2_contingency

# Calculate the number of completed and not completed steps for both groups
completed_test = sum(df_test['process_step'] == 'confirm')
not_completed_test = len(df_test) - completed_test
completed_control = sum(df_control['process_step'] == 'confirm')
not_completed_control = len(df_control) - completed_control

# Create the contingency table
data = {
    'Group': ['Test', 'Control'],
    'Completed': [completed_test, completed_control],
    'Not Completed': [not_completed_test, not_completed_control]
}

df_completion = pd.DataFrame(data)

# Display the contingency table
print(df_completion)

# Contingency table as an array
contingency_table = df_completion[['Completed', 'Not Completed']].values

# Perform the chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table)

# Significance level
alpha = 0.05

# Print results
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")

# Conclusion
if p < alpha:
    print("Reject the null hypothesis: There is a significant difference in completion rates between the Test and Control groups.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in completion rates between the Test and Control groups.")

     Group  Completed  Not Completed
0     Test      25600         151099
1  Control      17336         123200
Chi-square statistic: 309.66974856397945
P-value: 2.5773171619152373e-69
Reject the null hypothesis: There is a significant difference in completion rates between the Test and Control groups.

### Completion Rate with a Cost-Effectiveness Threshold

In [48]:
total_test = len(df_test)
total_control = len(df_control)

# Calculate completion rates
completion_rate_test = completed_test / total_test
completion_rate_control = completed_control / total_control

# Calculate the percentage increase in completion rate
increase_percentage = ((completion_rate_test - completion_rate_control) / completion_rate_control) * 100

# Threshold for cost-effectiveness
threshold = 5.0

# Print results
print(f"Completion rate (Test group): {completion_rate_test:.2%}")
print(f"Completion rate (Control group): {completion_rate_control:.2%}")
print(f"Percentage increase in completion rate: {increase_percentage:.2f}%")

# Cost-effectiveness check
if increase_percentage >= threshold:
    print(f"The increase in completion rate meets or exceeds the {threshold}% threshold. The new design is cost-effective.")
else:
    print(f"The increase in completion rate does not meet the {threshold}% threshold. The new design may not be cost-effective.")

Completion rate (Test group): 14.49%
Completion rate (Control group): 12.34%
Percentage increase in completion rate: 17.45%
The increase in completion rate meets or exceeds the 5.0% threshold. The new design is cost-effective.

### Merging clean client profile dataframe

In [49]:
df_cleaned = pd.read_csv('cleaned_data.csv')

In [50]:
df_full_test = pd.merge(df_test, df_cleaned, on='client_id', how='inner')

In [51]:
df_test_grouped = df_full_test.groupby('client_id').agg({
    'client_age': 'mean',  # Calculate mean age
    'num_accounts': 'mean',
    'balance': 'mean',
    'calls_last_6_month': 'mean',
    'log_on_last_6_month': 'mean',
    'client_tenure_years': 'mean'
}).reset_index()

df_test_grouped

,client_id,client_age,num_accounts,balance,calls_last_6_month,log_on_last_6_month,client_tenure_years
0,555,29.5,2.0,25454.66,2.0,6.0,3.83
1,647,57.5,2.0,30525.80,0.0,4.0,12.58
2,934,51.0,2.0,32522.88,0.0,3.0,9.08
3,1336,42.0,4.0,130537.18,6.0,9.0,48.00
4,1346,46.0,2.0,822512.91,3.0,6.0,14.75
...,...,...,...,...,...,...,...
26956,9999150,30.0,3.0,97141.71,6.0,9.0,5.50
26957,9999400,28.5,2.0,51787.04,0.0,3.0,7.17
26958,9999626,35.0,2.0,36642.88,6.0,9.0,9.42
26959,9999729,31.0,3.0,107059.74,6.0,9.0,10.33
26960,9999832,49.0,2.0,431887.61,1.0,4.0,23.42

In [52]:
df_full_control = pd.merge(df_control, df_cleaned, on='client_id', how='inner')

In [53]:
df_control_grouped = df_full_control.groupby('client_id').agg({
    'client_age': 'mean',  # Calculate mean age
    'num_accounts': 'mean',
    'balance': 'mean',
    'calls_last_6_month': 'mean',
    'log_on_last_6_month': 'mean',
    'client_tenure_years': 'mean'
}).reset_index()

df_control_grouped

,client_id,client_age,num_accounts,balance,calls_last_6_month,log_on_last_6_month,client_tenure_years
0,1028,36.0,3.0,103520.22,1.0,4.0,12.08
1,1104,48.0,3.0,154643.94,6.0,9.0,5.50
2,1186,22.0,2.0,31662.52,0.0,3.0,8.25
3,1195,54.5,2.0,28457.96,2.0,5.0,21.83
4,1197,28.5,5.0,177062.14,5.0,8.0,7.08
...,...,...,...,...,...,...,...
23521,9997125,57.5,2.0,38151.27,0.0,3.0,5.83
23522,9997391,60.0,2.0,77291.01,6.0,9.0,4.33
23523,9997470,36.0,2.0,53543.03,0.0,3.0,6.83
23524,9998346,61.5,2.0,149881.38,6.0,9.0,50.17
23525,9998921,38.0,2.0,30644.10,4.0,7.0,15.75

### Average Age of Clients

In [54]:
## (H0): The average age of clients engaging with the new process (Test group)
## is the same as the average age of clients engaging with the old process (Control group).

## (H1): The average age of clients engaging with the new process (Test group)
## is different from the average age of clients engaging with the old process (Control group).

In [55]:
import scipy.stats as stats

In [56]:
age_test = df_test_grouped['client_age']
age_control = df_control_grouped['client_age']

In [57]:
stat, p_value = stats.ttest_ind(age_test,age_control, equal_var=False)
#H0= Mu df1 = Mu df2 , H1= Mu df1 =! Mu df2
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

stat, p_value

We reject the null hypotesis

(-2.416068061200627, 0.015692719461388675)

In [58]:
age_test = round(df_test_grouped['client_age'].mean(),3)
age_control = round(df_control_grouped['client_age'].mean(),3)

print(f"Test average age: {age_test} ")
print(f"Control average age: {age_control} ")

Test average age: 47.164
Control average age: 47.498

### Calls to Customer Service

In [59]:
## H0: Number of calls to customer service in the last six month made by the test group is equal to the number of calls made by the control group

## H1: Number of calls to customer service in the last six month made by the test group is different fron the number of calls made by the control group.

In [60]:
mean_calls_test = df_test_grouped['calls_last_6_month'].mean()
mean_calls_control = df_control_grouped['calls_last_6_month'].mean()

print(f"Average calls in last 6 months (Test group): {mean_calls_test}")
print(f"Average calls in last 6 months (Control group): {mean_calls_control}")

Average calls in last 6 months (Test group): 3.061941322651237
Average calls in last 6 months (Control group): 3.1291762305534303

In [61]:
calls_test = df_test_grouped['calls_last_6_month']
calls_control = df_control_grouped['calls_last_6_month']

In [62]:
stat, p_value = stats.ttest_ind(calls_test,calls_control, equal_var=False)
#H0= Mu calls_test = Mu calls_control , H1= Mu calls_test =! Mu calls_control
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypothesis")

stat, p_value

We reject the null hypothesis

(-3.4452953903391514, 0.0005709074645240968)

### Client Tenure

#### Hypothesis: Clients with longer tenure are more likely to engage with the new process.

In [63]:
## H0: The average client tenure of clients engaging with the new process (Test group) is the same as the average client tenure of clients engaging with the old process (Control group).
## H1: The average client tenure of clients engaging with the new process (Test group) is different from the average client tenure of clients engaging with the old process (Control group).

#### Engagment means in this context client who completed the whole steps

In [64]:
df_very_full_test = pd.merge(df_test_grouped, df_final_web_data, on='client_id', how='inner')

In [65]:
df_very_full_control = pd.merge(df_control_grouped, df_final_web_data, on='client_id', how='inner')

In [66]:
# Filter for clients who reached the 'confirm' step
df_completed_test = df_very_full_test[df_very_full_test['process_step'] == 'confirm']
df_completed_control = df_very_full_control[df_very_full_control['process_step'] == 'confirm']

In [67]:
# Group by client_id and calculate the average tenure for each client
df_completed_test_grouped = df_completed_test.groupby('client_id')['client_tenure_years'].mean().reset_index()
df_completed_control_grouped = df_completed_control.groupby('client_id')['client_tenure_years'].mean().reset_index()

In [68]:
# Extracting the client tenure for both groups
tenure_test = df_completed_test_grouped['client_tenure_years']
tenure_control = df_completed_control_grouped['client_tenure_years']

In [69]:
stat, p_value = stats.ttest_ind(tenure_test,tenure_control, equal_var=False)
#H0= Mu tenure_test = Mu tenure_control , H1= Mu tenure_test =! Mu tenure_control
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypotesis")

stat, p_value

We are not able to reject the null hypothesis

(-1.2597075546384413, 0.20778382978152998)

In [70]:
tenure_test = df_completed_test_grouped['client_tenure_years'].mean()
tenure_control = df_completed_control_grouped['client_tenure_years'].mean()

print(f"Average tenure years (Test group): {tenure_test}")
print(f"Average tenure years (Control group): {tenure_control}")

Average tenure years (Test group): 12.447668879134996
Average tenure years (Control group): 12.541512185636506

# Dataframe created for tableau

In [73]:
# Sample data for Test and Control groups
# df_test = pd.DataFrame(...)
# df_control = pd.DataFrame(...)

# Calculate the average time spent on each process_step for Test group
df_test_sorted = df_test.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])
df_test['next_date_time'] = df_test.groupby(['client_id', 'visitor_id', 'visit_id'])['date_time'].shift(-1)
df_test['time_spent'] = (df_test['next_date_time'] - df_test['date_time']).dt.total_seconds()
df_time_spent_test = df_test.dropna(subset=['time_spent'])
avg_time_per_step_test = df_time_spent_test.groupby('process_step')['time_spent'].mean().round(2)
avg_time_per_step_test_df = avg_time_per_step_test.reset_index()
avg_time_per_step_test_df.columns = ['process_step', 'average_time_spent']
avg_time_per_step_test_df['group'] = 'Test'

# Calculate the average time spent on each process_step for Control group
df_control_sorted = df_control.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])
df_control['next_date_time'] = df_control.groupby(['client_id', 'visitor_id', 'visit_id'])['date_time'].shift(-1)
df_control['time_spent'] = (df_control['next_date_time'] - df_control['date_time']).dt.total_seconds()
df_time_spent_control = df_control.dropna(subset=['time_spent'])
avg_time_per_step_control = df_time_spent_control.groupby('process_step')['time_spent'].mean().round(2)
avg_time_per_step_control_df = avg_time_per_step_control.reset_index()
avg_time_per_step_control_df.columns = ['process_step', 'average_time_spent']
avg_time_per_step_control_df['group'] = 'Control'

# Combine both DataFrames
combined_df = pd.concat([avg_time_per_step_test_df, avg_time_per_step_control_df])

# Save the combined DataFrame to a CSV file
combined_df.to_csv('average_time_spent_combined.csv', index=False)

In [74]:
# Ensure data is sorted by client_id, visitor_id, visit_id, and date_time
df_test = df_test.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])
df_control = df_control.sort_values(by=['client_id', 'visitor_id', 'visit_id', 'date_time'])


def detect_errors(df):
    # Shift the process_step to get the next step for each record
    df['next_process_step'] = df.groupby(['client_id', 'visitor_id', 'visit_id'])['process_step'].shift(-1)
    
    # Define the order of steps
    process_order = {'start': 0, 'step_1': 1, 'step_2': 2, 'step_3': 3, 'confirm': 4}
    
    # Map the steps to their order
    df['process_step_order'] = df['process_step'].map(process_order)
    df['next_process_step_order'] = df['next_process_step'].map(process_order)
    
    # Identify if there is a backward move
    df['error'] = df['next_process_step_order'] < df['process_step_order']
    
    return df

# Apply the function to both test and control groups
df_test_with_errors = detect_errors(df_test)
df_control_with_errors = detect_errors(df_control)

# Count errors per process step for each group
errors_test = df_test_with_errors.groupby('process_step')['error'].sum().reset_index()
errors_test.columns = ['process_step', 'errors_test']

errors_control = df_control_with_errors.groupby('process_step')['error'].sum().reset_index()
errors_control.columns = ['process_step', 'errors_control']

# Merge the errors data
errors_combined = pd.merge(errors_test, errors_control, on='process_step', how='outer')

# Save the combined errors data to a CSV file for Tableau
errors_combined.to_csv('errors_combined.csv', index=False)

In [75]:
errors_combined

  process_step  errors_test  errors_control
0      confirm          305             681
1        start            0               0
2       step_1         6404            2490
3       step_2         4780            2164
4       step_3         4743            4246